 <div class="mx-auto" style="width:80%;">
   <%= form_with(model: [review, comment], local: false) do |f| %>
    <%= f.text_area :comment, class: 'form-control' %>
    </br>
    <p class="text-right"><%= f.submit "送信する", class: 'btn btn-info mb-5' %></p>
   <% end %>
</div>