
<div class="container">
 <div class="row">
 <div class= "card col-sm-12 mb-5 mt-5 mx-auto shadow-lg">
  <%= image_tag 'about_sauna.jpg', class: "about_sauna" %>
  <h3 class="about_title mb-5" style="text-align:center;">サウナで整いサウナで繋がる</h3>

   <div class="col-sm-6 mx-auto">
    <p class="about_body" style="text-align:center;">これまで新しいサウナ施設に行く際にもっと詳細な</br>
    情報が欲しいと感じたことはありませんか？</br></br>
     実際、レビューや口コミを見ても、</br></br>
     「ざっくりとしすぎて分からない」</br>
     「サウナや水風呂の温度は？」</br>
     「チェアやサウナの種類はいくつあるの？」</br>
     「どのくらい人がいるの？」etc..</br></br></br>

     Sounnectでは、実際に利用しているお客様にサウナのレビューを投稿していただくことで、</br>
     より詳細な施設の情報や、リアルな口コミを参照していただくことができます。</br></br></br>
     また、サウナ好き同士でコミュニケーションを図ることができ、サウナの良さを共有していただくことで</br>
     もっとサウナを好きになって頂けたらと思います！</p>
    </div>
   </div>
  </div>
 </div>


     <h2 class="about_sub text-center">〜Saunnectでできること〜</h2>
    <div class="container">
     <div class="row">
　    <div class="card border-danger col-sm-5 mt-sm-5 mb-5 about_info mx-auto">
       <div class="card-body row">
         <i class="bi bi-bar-chart-line text-center col-sm-12 " style="font-size:80px; color:green;"></i>
        <h5 class="col-sm-12 text-center">サウナ好きならではの詳しい情報が見れる。</h5>
         <p class="col-sm-12 text-center">You can see detailed information only a sauna lover can provide.</p>
       </div>
      </div>

      <div class="card border-danger col-sm-5 mt-sm-5 mb-5 about_connect mx-auto">
       <div class="card-body row">
        <i class="bi bi-person-hearts text-center col-sm-12" style="font-size:80px; color:red;"></i>
        <h5 class="col-sm-12 text-center">サウナの情報を共有しサウナ好き同士で繋がれる。</h5>
         <p class="col-sm-12 text-center">We can share saunas and connect.</p>
      </div>
     </div>
    </div>
   </div>

