<h1 style="text-align:center;">Sounnectとは</h1>
<div class="container">
 <div class="row">
 <div class= "card col-12 mb-5 mx-auto shadow-lg">
  <img class="about_sauna" src="/assets/about_sauna.jpeg">
  <h3 class="about_title mb-5" style="text-align:center;">サウナで整いサウナで繋がる</h3>

   <div class="col-6 mx-auto">
    <p class="about_body" style="text-align:center;">これまで新しいサウナ施設に行く際にもっと詳細な</br>
    情報が欲しいと感じたことはありませんか？</br></br>
     実際、レビューや口コミを見ても、</br></br>
     「ざっくりとしすぎて分からない」</br>
     「サウナや水風呂の温度は？」</br>
     「チェアやサウナの種類はいくつあるの？」</br>
     「どのくらい人がいるの？」etc..</br></br></br>

     Sounnectでは、実際に利用しているお客様にサウナのレビューを投稿していただくことで、</br>
     より詳細な施設の情報や、リアルな口コミを参照していただくことができます。</br></br></br>
     また、サウナ好き同士でコミュニケーションを図ることができ、サウナの良さを共有していただくことで</br>
     もっとサウナを好きになって頂けたらと思います！</p>


    <h3 class="about_sub mt-5 mb-5" style="text-align:center;">Saunnectでできること</h3>

   </div>
  </div>
 </div>
</div>
