
<div class="container">
 <div class="row">
 <div class= "card col-12 mb-5 mt-5 mx-auto shadow-lg">
  <%= image_tag 'about_sauna.jpg', class: "about_sauna" %>
  <h3 class="about_title mb-5" style="text-align:center;">サウナで整いサウナで繋がる</h3>

   <div class="col-6 mx-auto">
    <p class="about_body" style="text-align:center;">これまで新しいサウナ施設に行く際にもっと詳細な</br>
    情報が欲しいと感じたことはありませんか？</br></br>
     実際、レビューや口コミを見ても、</br></br>
     「ざっくりとしすぎて分からない」</br>
     「サウナや水風呂の温度は？」</br>
     「チェアやサウナの種類はいくつあるの？」</br>
     「どのくらい人がいるの？」etc..</br></br></br>

     Sounnectでは、実際に利用しているお客様にサウナのレビューを投稿していただくことで、</br>
     より詳細な施設の情報や、リアルな口コミを参照していただくことができます。</br></br></br>
     また、サウナ好き同士でコミュニケーションを図ることができ、サウナの良さを共有していただくことで</br>
     もっとサウナを好きになって頂けたらと思います！</p>
    </div>
   </div>
  </div>
 </div>

    <h3 class="about_sub mt-5 mb-5" style="text-align:center;">〜Saunnectでできること〜</h3>

    <div class="container">
     <div class="row">
      <i class="bi bi-bar-chart-line text-center col-6 " style="font-size:80px; color:green;"></i>
　    <i class="bi bi-person-hearts text-center col-5" style="font-size:80px; text-align:right; color:red;"></i>

　    <div class="card border-danger col-sm-5 mt-3 mb-5 about_info">
       <div class="card-body">
        <h5 class="card-title　text-danger">サウナ好きならではの詳しい情報が見れる。</h5>
         <p class="card-text">You can see detailed information only a sauna lover can provide.</p>
       </div>
      </div>

      <div class="card border-danger col-sm-5 mt-3 mb-5 about_connect">
       <div class="card-body">
        <h5 class="card-title　text-danger">サウナの情報を共有しサウナ好き同士で繋がれる。</h5>
         <p class="card-text">We can share saunas and connect.</p>
      </div>
     </div>
     </div>
   </div>
