<h1>TOPページ投稿一覧</h1>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>写真</th>
      <th>施設名</th>
      <th>住所</th>
      <th>大人一人当たりの価格</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
     <tr>
       <td><%= image_tag review.get_sauna_image(100,100) %></td>
       <td><%= link_to review.name,admin_review_path(review.id) %></td>
       <td><%= review.address %></td>
       <td><%= review.price %>円</td>
     </tr>
    <% end %>
  </tbody>
</table>
