<% if comment.comment_favorited_by?(current_user) %>
 <p>
  <%= link_to review_comment_comments_favorite_path(comment), class: 'text-danger', method: :delete, remote: true do %>
  ♥<%= review.comment_favorites.count %>
  <% end %>
 </p>
<% else %>
  <%= link_to review_comment_comments_favorites_path(comment), method: :post, remote: true do %>
  ♡<%= review.comment_favorites.count %>
  <% end %>
<% end %>