<% if review.favorited_by?(current_user) %>
 <p>
  <%= link_to review_favorite_path(review), class: 'text-danger', method: :delete, remote: true do %>
  ♥<%= review.favorites.count %>
  <% end %>
 </p>
<% else %>
  <%= link_to review_favorites_path(review), method: :post, remote: true do %>
  ♡<%= review.favorites.count %>
  <% end %>
<% end %>