<div class='container'>
  <div class='row'>
    <div class="col-sm-12">
    <h2 class="mt-4 about_sub">レビュー投稿</h2>
    <p>利用したサウナや水風呂について詳細に書いてみよう</p>
     <%= render 'public/reviews/form', review: @review %>
     </div>
  </div>
</div>

