/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #EEEEEE;
}

.text1{
  font-size: 180px;
  margin-bottom: 0;
  font-family: 'Kalam', cursive;
  color: #FF7C00;
  background: -webkit-linear-gradient(top, #FFB76B 0%, #FFA73D 50%, #FF7C00 51%, #FF7F04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  display: flex;
  overflow: hidden;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 70px;
  margin-left: 60px;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}

.a {
   font-size: 30px;
  margin-bottom: 0;
  font-family: 'Kalam', cursive;
  color: #FF7C00;
  background: -webkit-linear-gradient(top, #FFB76B 0%, #FFA73D 50%, #FF7C00 51%, #FF7F04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.b {
  color: #FFA73D;
  font-family: 'Kalam', cursive;

}

.c {
  color: black;
}

.d {
  color: #FF7F04;
  font-family: 'Kalam', cursive;
}

.s {
  font-family: 'Yuji Syuku', serif;
}

.about_sauna {
   width: 300px;
   height: 250px;
   margin: 40px auto;

}

.about_title {
  font-family: 'Yuji Syuku', serif;
}

.about_body{
  font-size: 21px;
}

.about_sub {
  font-family: 'Mochiy Pop One', sans-serif;
}

.review_name {
  color: #006600;
  font-size: 32px;
  font-family: 'Mochiy Pop One', sans-serif;
}

.sauna_image{
  width:100%;
  height: 50%;

}

.x {
  font-family: 'Mochiy Pop One', sans-serif;
  padding-top: 50px;
  width:500px;
  animation-name: fadeInAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
  opacity: 0;
 }

@keyframes fadeInAnime{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.btn-push {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #ffa300;
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
  margin-left: 170px;
}

.btn-push:active {
    transform: translateY(4px);
    border-bottom: none;
    color: black;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 70px;
}

.review_name2 {
  text-align: center;
  font-size: 32px;
  font-family: 'Yuji Syuku', serif;
  color: #FF7C00;
  background: -webkit-linear-gradient(top, #FFB76B 0%, red 50%, #FF7C00 51%, #FF7F04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sauna{
  text-align: center;
  color: red;
  font-family: 'Mochiy Pop One', sans-serif;
}

.mizu {
  text-align: center;
  color: blue;
  font-family: 'Mochiy Pop One', sans-serif;
}

.sauna_area{
  font-family: 'Mochiy Pop One', sans-serif;

}

.sauna_ondo{
  font-family: 'Mochiy Pop One', sans-serif;
  color:red;
}

.mizu_ondo {
  font-family: 'Mochiy Pop One', sans-serif;
  color:blue;
}

.user_index{
  background: linear-gradient(#DDFFFF, #FFDBC9);
}

main {
  background: linear-gradient(#DDFFFF, #FFDBC9);
}
