<h2 class="text-center pt-5 mb-5 font-weight-bold">本当に退会しますか？</h2>
<div class="container text-center unsub">
 <div class="row-sm-6 card pt-5 pb-5">
    <p>退会すると、サウナレビューの閲覧や</p>
    <p>ログインができなくなり、再度登録が必要になります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
 </div>
 <div class="row mt-5 mb-5">
  <div class="col-6">
   <%= link_to "退会しない", user_path(@user), class: "btn btn-success " %>
  </div>
  <div class="col-6">
   <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-danger", "data-confirm" => "本当に退会しますか？再度利用するには新規登録が必要になります" %>
  </div>
 </div>
</div>