<footer style='background-color:#42403e'>
  <div class='container' style='height:100px'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class= 'd-flex align-items-center mb-0 text-white' style='height:100px'>© 2022 souunect8 Co., Ltd.</p>
    	</div>
    </div>
  </div>
</footer>